PRIVATE__BOT_TOKEN=your-token-here
PRIVATE__SUPPORT_BOT_TOKEN=your-token-here
PRIVATE__OPENROUTER_API_KEY=your-key-here

DB__USER=ur-DB_NAME
DB__PASSWORD=ur-DB_PASSWORD
DB__HOST=ur-DB_HOST
DB__PORT=ur-DB_PORT
DB__DB=ur-DB_SCHEMA

PROXY__LOGIN=login
PROXY__PASSWORD=password
PROXY__IP=ip
PROXY__PORT=port

REDIS__HOST=host
REDIS__PORT=port
REDIS__DB=db